# Binaries
**/bin/
bin-int/

# Fountain files
**.log
**.json

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
Fountain/vendor/yaml-cpp

# Directories
Fountain/vendor/VulkanSDK
Fountainhead/assets/cache
scripts/__pycache__
